<!DOCTYPE html>
<html>
<head>
      <title><%= yield(:title) %> | One Thousand Gifts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">

</head>
<body>
    <div class="header">
        <p>One Thousand Gifts</p>
        <p class="navigation">
            <a href="/static_pages/home">HOME | </a>
            <a href="/static_pages/about">ABOUT | </a>
            <a href="/static_pages/help">HELP | </a>
            <a href="/static_pages/contact">CONTACT</a>
        </p>
    </div>
    <%= yield %>
</body>
</html>
