<!DOCTYPE html>
<html>
<head>
      <title><%= yield(:title) %> | One Thousand Gifts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">

</head>
<body>
    <div class="header">
      <div class="banner">
           1000 | GIFTS
      </div>
      <div class="navigation">
          HOME | ABOUT
      </div>
    </div>
  
<%= yield %>

</body>
</html>
